[user]
    name =
    email =
[color]
    ui = auto
[color "branch"]
    current = cyan
    local = yellow
    remote = green
[color "diff"]
    meta = blue bold
    frag = yellow
    old = red reverse
    new = green reverse
    whitespace = red reverse
[color "status"]
    added = yellow
    untracked = cyan
[alias]
    br = branch
    ci = commit
    co = checkout
    fp = fetch -p
    mn = merge --no-ff
    mv = move
    sub = submodule
    st = status
    di = diff
[tig]
    line-graphics = ascii
[push]
    default = simple
[core]
    quotepath = false
[github]
    user = repeat
    token =
